name: '[event] PR'
run-name: '[event] ${{ github.event.action }} "${{ github.event.pull_request.title }}" targeting {${{ github.event.pull_request.base.ref }}}'
# Upon receiving a PR, this workflow will run all build and test checks required

on:
  pull_request:
    branches:    
      - main
      - beta
      - dev

jobs:
  build:
    name: build
    uses: ./.github/workflows/artifacts_build-release.yml
    # permissions: {}
    permissions: # These should not be necessary - see https://github.com/orgs/community/discussions/155062
      contents: write
      id-token: write
      pages: write
      issues: write
      pull-requests: write # This one is required for Docker Scout feedback on PR during build step
    with:
      all-artifacts: true
      release: false
    secrets:
      docker-token: ${{ secrets.DOCKER_TOKEN }}
      gh-token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: test
    needs: build
    uses: ./.github/workflows/artifacts_test.yml
    permissions: 
      pull-requests: write # This one is required for Docker Scout feedback on PR during build step
    with:
      methods: ${{github.base_ref == 'main' && '["unit-ubuntu", "unit-macos", "e2e", "api"]' || (github.base_ref == 'beta' && '["unit-ubuntu", "e2e", "api"]' || '["unit-ubuntu", "unit-docker"]' ) }} # Only running full suite when targeting beta or main
    secrets:
      gh-token: ${{ secrets.GITHUB_TOKEN }}

  dependabot:
    name: dependabot-combine
    needs: test
    runs-on: ubuntu-latest
    if: github.event.pull_request.user.login == 'dependabot[bot]' && github.repository == 'steilerdev/icloud-photos-sync'
    permissions:
      contents: write # to create a new branch and merge other branches together
      pull-requests: write # to create a new PR with the combined changes
      checks: read # to check if CI is passing or not before combining PRs
    steps:
      - name: combine-prs
        id: combine-prs
        uses: github/combine-prs@v5.2.0
        with:
          labels: combined
          combine_branch_name: combined-dependabot-prs