TEST_APPLE_ID_USER=
TEST_APPLE_ID_PWD=
TEST_TRUST_TOKEN=HSARMTKNSRVXWFlajFMlr2wBE+17pwWTjKKG0AwcN0gG81YRtIMs7QNNgXDqRb8ntIsP6CZ0hXAYwuax5I2b849WwXPbudpAR9OLYUez3BHEgZBBnVqUqQPabCrhPV4FyGLdNf7jhWy1CGdLCYAtQeNnDfuJIq7XQgvMlXLBNu1mZwnRtM9Dmz+M3wK9uie3ljTcfUDapYkUq3G01wXijMmX2h4XlFLa/EyjFAWMphw=SRVX